// font-family: 'Fredoka One', cursive;
// font-family: 'Quicksand', sans-serif;

// All brand colors
$color-green: #45ca8e;
$color-orange: #FB4D3D;
$color-purple: #E40066;
$color-blue: #345995;
$color-yellow: #EAC435;

// Sets up title for loop
$title-size: 18px;
$title-scale: 8;

// Default input and buttons styling
%default-selects {
  padding: 16px 32px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  border-radius: 12px;
  border: 4px solid;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

@mixin hover-shadow($color) {
  box-shadow: 
    0 5px 5px -5px rgba($color, 0.3), 
    0 10px 10px -5px rgba($color, 0.3), 
    0 20px 20px -5px rgba($color, 0.3), 
    0 30px 30px -5px rgba($color, 0.3);
}

// Styles all titls
.title {
  font-family: 'Fredoka One', cursive;
  line-height: 1.25;
  @for $i from 1 through 6 {
    &--h#{$i} {
      font-size: $title-size + ($title-scale * (6 - $i));
      margin: 0 0 ($title-scale * (6 - $i) + px);
    }
  }
  &--wrong {
    color: $color-purple;
  }
  &--success {
    color: $color-green;
  }
}

// Styles paragraphs
.para {
  font-family: 'Quicksand', sans-serif;
  margin: 0 0 18px;
  &--title {
    font-size: 30px;
    margin: 0 0 30px;
  }
}

// Styles buttons
.btn {
  @extend %default-selects;
  &--default {
    border-color: $color-blue;
    background: $color-blue;
    color: #fff;
    &:hover {
      @include hover-shadow($color-blue);
    }
  }
  &--success {
    border-color: $color-green;
    background: $color-green;
    color: #fff;
    &:hover {
      @include hover-shadow($color-green);
    }
  }
  &--wrong {
    border-color: $color-purple;
    background: $color-purple;
    color: #fff;
    &:hover {
      @include hover-shadow($color-purple);
    }
  }
  &--warning {
    border-color: $color-orange;
    background: $color-orange;
    color: #fff;
    &:hover {
      @include hover-shadow($color-orange);
    }
  }
  &:hover {
    transform: translateY(-8px);
  }
}

// Styles inputs
.input {
  @extend %default-selects;
  border-color: $color-blue;
  color: $color-blue;
}

// Container wrapper
.container {
  width: 80vw;
  margin: 0 auto;
}

// Flex wrapper
.flex {
  display: flex;
  flex-flow: wrap;
  * {
    flex: 1;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

// Space 
.space {
  &--mb {
    margin-bottom: 60px;
  }
}

// Emoji
.emoji {
  display: inline-block;
  &--flip {
    transform: scaleX(-1);
  }
}

// Hero section
.hero {
  background: $color-yellow;
  padding: 80px 60px 140px;
}

// App section
.app {
  margin-top: -60px;
  .container {
    background: #fff;
    padding: 60px;
  }
  &__addition {
    background: $color-orange;
    padding: 30px 60px;
    border-radius: 12px;
    text-align: center;
    .para {
      color: #fff;
      &--title {
        margin: 0;
      }
    }
    .flex {
      justify-content: center;
      * {
        flex: 0 0 auto;
        margin: 10px 10px 0 0;
      }
    }
    .addition {
      &__text {
        color: #fff;
        font-size: 40px;
      }
    }
  }
  &__result {
    .result {
      &__wrong {
        .flex {
          align-items: center;
          * {
            flex: 0 0 auto;
          }
          .title {
            margin-bottom: 0;
          }
        }
      }
      &__correct {
        text-align: center;
        .title {
          p {
            margin: 0 0 10px;
          }
        }
      }
    }
  }
}