.navbar {
    &-nav {
        width: 100%;
        flex-flow: row;
        justify-content: center;
        li {
            margin: 0 10px;
            a {
                color: #fff;
            }
        }
    }
}